# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
direnv

# data science
numpy
pandas

# tests/linter
black
coverage
flake8
pytest
yapf
httpx
pytest-asyncio

# API
gcsfs
google-cloud-storage
fastapi
pytz
uvicorn
streamlit
python-multipart

# utilities
six>=1.14
joblib
memoized-property
termcolor
colorama

# additions
python-dotenv
uvicorn
