# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas

# tests/linter
black
coverage
flake8
pytest
yapf
httpx
pytest-asyncio

# API
gcsfs
google-cloud-storage
fastapi
pytz
uvicorn

# utilities
six>=1.14
joblib
memoized-property
termcolor

# additions
colorama
ipython
keras==2.80
Keras-Preprocessing==1.1.2
mlflow
tokenize
typing_extensions
pathspec
pathtools
